@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
  position: relative;
  width: 100%;
  height: min-content;

  background-color: $bgColor;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
  align-items: start;
  @include tablet-mobile {
    flex-direction: column;
  }
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
    @include tablet-mobile {
      margin-bottom: 50px;
    }
    h2 {
      a {
        text-decoration: none;
        font-family: $headline;
        color: white;
        flex-basis: 20%;
        font-size: 30px;
      }
    }
  }
  .socialMediaLinks {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    @include tablet-mobile {
      margin-bottom: 50px;
    }
    h3 {
      color: white;
      white-space: nowrap;
      font-family: $ysabeau;
    }
    ul {
      list-style: none;

      li {
        margin-top: 20px;
      }
    }
  }
  .copywrite {
    flex-basis: 70%;
    text-align: end;
    p {
      color: white;
      font-family: $roboto;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
