@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
  position: relative;
  width: 100%;
  height: min-content;

  background-color: $bgColor;
  padding: 0;
  margin: 0;
  display: flex;

  padding: 5% 10%;
    align-items: end;

  .logoContainer {
    display: flex;
    flex-direction: column;

    flex-basis: 50%;
    h2 {
    
      a{
        text-decoration: none;
        font-family: $headline;
        color: white;
        flex-basis: 20%;
        font-size: 26px;
      }
    }
    .socialMediaContainer{
        display: flex;
        margin-top: 20px;
      
    }
  }
  .copywrite {
    flex-basis: 50%;

    p {
      color: white;
      font-family: $roboto;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}
