@import "../../styles/mixins";
@import "../../styles/variables";

.contactContainer {
  margin-bottom: 90px;
  width: 100%;
  display: flex;
  margin-top: 80px;
  padding: 5% 10%;
  @include tablet-mobile {
    flex-direction: column;
    .contactInfoWrapper {
      margin-top: 50px;
      flex-basis: 100%;
    }
    .map{
      margin-top: 100px;
      flex-basis: 100%;
    }
  }
  .contactInfoWrapper {
    flex-basis: 50%;
    h2 {
      font-family: $ysabeau;
      opacity: 0.6;
    }
    ul {
      list-style: none;
      margin-top: 50px;
      li {
        margin-top: 20px;
        font-family: $ysabeau;
        font-size: 18px;
        opacity: 0.6;
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
        }
      }
    }
  }
  .map {
    flex-basis: 50%;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
  }
}
