@import "../../../styles/variables";
@import "../../../styles/mixins";

.headerContainer {
  width: 100%;

  z-index: 1;
  position: relative;

  .header {
    margin: 0;
    text-align: left;
    font-family: $headline;
    color: white;
    @include headlineFontSize;
    span {
      font-family: $headline;
      color: white;
      @include headlineFontSize;
      position: relative;
      @media (max-width: 768px) {
        font-size: 40px;
      }
      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 95%;
        background-color: $accentColor;
        left: 0;
        bottom: 35%;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 95%;
        background-color: $accentColor;
        left: 0;
        bottom: 45%;
    
      }
    }
  }
}
