@import '../../../styles/variables';
@import '../../../styles/mixins';

.headerContainer {
    margin-bottom: 2.5em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    position: relative;

    @include mobile {
        margin-bottom: 1.3em;
    }

    .header {
        margin: 0;
        text-align: left;
        font-family: $ysabeau;
        color: white;

        span {
            font-family: $ysabeau;
            color: white;
            font-size: 40px;

            @include mobile {
                font-size: 29px;
                line-height: 34px;
            }
        }

        @include mobile {
            font-size: 29px;
            line-height: 34px;
        }
    }
}