
$bgColor: #141414;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$headline: 'Allerta Stencil', sans-serif;
$roboto: 'Roboto', sans-serif;